body{
    position: relative;
}
.box-ex{
    font-size: 0.8em;
    position: absolute;
    text-align: center;
    background-color:rgba(0,0,0,0.7);
    border-radius: 5px;
    color: rgba(255,255,255,0.8);
}
#pc-box{
      margin:250px 0px 0px 100px;
      width: 45px;
      height: 80px;
}
#inst-data{
     margin:270px 0px 0px 185px;
     width: 0px;
     height: 0px;
     //border-left: 40px solid rgb(63,165,191);
     border-left: 40px solid rgb(176,246,243);
     border-top: 20px solid rgb(255,255,255);
     border-bottom: 20px solid rgb(255,255,255);
}
#cache-box{
      margin:250px 0px 0px 250px;
      background-color:rgba(239,237,127,0.8);
      width: 110px;
      height: 80px;
}
#reg-inst-box{
    margin:200px 0px 0px 415px;
    width: 45px;
    height: 80px;
}
#reg-data-box{
  margin:300px 0px 0px 415px;
  width: 45px;
  height: 80px;
}
#up-post-box{
  margin:245px 0px 0px 550px;
  width: 0px;
  height: 0px;
  border-left: 40px solid rgb(176,246,243);
  border-top: 20px solid rgb(255,255,255);
  border-bottom: 20px solid rgb(255,255,255);
}
#down-post-box{
  margin:300px 0px 0px 550px;
  width: 0px;
  height: 0px;
  border-left: 40px solid rgb(176,246,243);
  border-top: 20px solid rgb(255,255,255);
  border-bottom: 20px solid rgb(255,255,255);
}
#Reg-file{
  margin:220px 0px 0px 610px;
  background-color:rgba(239,181,127,0.8);
  width: 80px;
  height: 140px;

}
#reg-x-box{
  margin:200px 0px 0px 710px;
  width: 45px;
  height: 80px;
}#reg-y-box{
  margin:300px 0px 0px 710px;
  width: 45px;
  height: 80px;
}
#mux-x-box{
  margin:220px 0px 0px 850px;
  width: 0px;
  height: 0px;
  border-left: 40px solid rgb(176,246,243);
  border-top: 20px solid rgb(255,255,255);
  border-bottom: 20px solid rgb(255,255,255);
}
#mux-y-box{
  margin:315px 0px 0px 850px;
  width: 0px;
  height: 0px;
  border-left: 40px solid rgb(176,246,243);
  border-top: 20px solid rgb(255,255,255);
  border-bottom: 20px solid rgb(255,255,255);
}
#alu-box{
    margin:210px 0px 0px 920px;
  width: 150px;
 height: 150px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 background-color: rgba(176,246,180,0.8);
}
#reg-z-box{
  margin:250px 0px 0px 1120px;
  width: 45px;
  height: 80px;
}
#final-box{
  margin:265px 0px 0px 1220px;
  width: 0px;
  height: 0px;
  border-left: 40px solid rgb(176,246,243);
  border-top: 20px solid rgb(255,255,255);
  border-bottom: 20px solid rgb(255,255,255);
}

/*section lines*/
.lines-right{
    position: relative;
    width: 0px;
    height: 100%;
    background: rgba(0,0,0,1);
}
.lines-top{
    position: relative;
    //bottom:0;
    width: 100%;
    height: 100%;
  background: rgb(209,210,208);
}
.lines-left{
    position: relative;
    //bottom:0;
    width: 100%;
    height: 100%;
  background: rgb(209,210,208);
}
.lines-bottom{
    position: relative;
    width: 100%;
    height: 0px;
    background: rgba(0,0,0,1);
}
.content-line{
  margin-bottom: 10px;
  position:relative;
  background: rgb(209,210,208);
//  background-color: green;
  height: 3px;
}
.conten-all-lines{
  //margin-top: 35px;
}
#content-all-1{
  width:41px;
  margin-left: 44px;
  margin-top: 35px;
}
#content-all-2{
  width:25px;
  margin-top: 0px;
}
#content-all-3{
  width:30px;
  margin-top: 21px;
  margin-left: 110px;
}
#content-all-4{
  //background-color: red;
  width:150px;
  margin-top: 25px;
  margin-left: 45px;
}
#content-all-5{
  width:90px;
  margin-top: 18px;
  margin-left: 45px;
}
#content-all-6{
  width:25px;
  margin-top: -2px;
  margin-left: -3px;
}
#content-all-7{
  width:25px;
  margin-top: -2px;
  margin-left: -3px;
}
#content-all-8{
  width:20px;
  margin-top: 50px;
  margin-left: 80px;
}
#content-all-9{
  width:100px;
  margin-top: 40px;
  margin-left: 45px;
}
#content-all-10{
  width:100px;
  margin-top: 30px;
  margin-left: 45px;
}
#content-all-11{
  width:50px;
  margin-top: -2px;
  margin-left: -2px;
}
#content-all-12{
  width:50px;
  margin-top: -2px;
  margin-left: -2px;
}
#content-all-13{
  width:50px;
  margin-top: 85px;
  margin-left: 150px;
}
#content-all-14{
  width:55px;
  margin-top: 40px;
  margin-left: 45px;
}

/*Line contentidas*/
#conte-line-4{
  width: 100%;
}
#conte-line-5{
  width: 100%;
}
#conte-line-6{
  width: 60%;
}
#conte-line-7{
  width: 30%;
}
  /*section 1*/
#line-box-content-1{
  z-index: -1;
  position: absolute;
  margin-left: 80px;
//  background: red;
  width: 1210px;
  height: 285px;
}
#conte-line-20{
  position: absolute;
  width: 3px;
  height: 100%;
}
#conte-line-21{
  background-color: rgba(0,0,0,1);
  position: absolute;
  width: 100%;
  height: 3px;
}
#conte-line-22{
  background-color: rgba(0,0,0,1);
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0;
}
#conte-line-23{
  margin: 0px;
  position: absolute;
  width: 2%;
  bottom:0;
  height: 3px;
}
#conte-line-24{
  margin: 0px;
  position: absolute;
  bottom:0;
  right: :0;
  width: 3%;
  height: 3px;
  right: 0;
}
/*SEction 2*/
#line-box-content-2{
  z-index: -1;
  position: absolute;
  margin-top: 70px;
  margin-left: 165px;
  //background: red;
  width: 665px;
  height: 220px;
}
#conte-line-25{
  background: rgba(0,0,0,1);
  position: absolute;
  width: 3px;
  height: 100%;
}
#conte-line-26{
  position: absolute;
  width: 100%;
  height: 3px;
}
#conte-line-27{
  position: absolute;
  width: 3px;
  height: 74%;
  right: 0;
}

/*SEction 3*/
#line-box-content-3{
  z-index: -1;
  position: absolute;
  margin-top: 120px;
  margin-left: 800px;
  //background: red;
  width: 405px;
  height: 165px;
}
#conte-line-28{
  position: absolute;
  width: 3px;
  height: 75%;
}
#conte-line-29{
  position: absolute;
  width: 100%;
  height: 3px;
}
#conte-line-30{
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0;
}

/*SEction 4*/
#line-box-content-4{
  z-index: -1;
  position: absolute;
  margin-top: 290px;
  margin-left: 165px;
  //background: red;
  width: 1020px;
  height: 240px;
}
#conte-line-31{
  position: absolute;
  width: 3px;
  height: 100%;
}
#conte-line-32{
  margin: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
}
#conte-line-33{
  background: rgba(0,0,0,1);
  position: absolute;
  width: 3px;
  height: 100%;
  right: 0;
}
/*SEction 5*/
#line-box-content-5{
  z-index: -1;
  position: absolute;
  margin-top: 310px;
  margin-left: 230px;
//  background: red;
  width: 570px;
  height: 190px;
}
#conte-line-34{
  position: absolute;
  width: 4%;
  height: 3px;
}
#conte-line-35{
  position: absolute;
  width: 3px;
  height: 100%;
}
#conte-line-36{
  margin: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
}
#conte-line-37{
  position: absolute;
  margin: 0px;
  bottom: 0;
  width: 3px;
  height: 90%;
  right: 0;
}
/*SEction 6*/
#line-box-content-6{
  z-index: -1;
  position: absolute;
  margin-top: 297px;
  margin-left: 1100px;
  //background: red;
  width: 105px;
  height: 100px;
}
#conte-line-38{
  position: absolute;
  width: 3px;
  height: 100%;
}
#conte-line-39{
  margin: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;

}
#conte-line-40{
  background-color: rgba(0,0,0,1);
  margin: 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3px;
  height: 100%;
}
/*section 7*/
#line-box-content-7{
  z-index: -1;
  position: absolute;
  margin-top: 240px;
  margin-left: 390px;
  //background: red;
  width: 25px;
  height: 100px;
}
#line-box-content-8{
  z-index: -1;
  position: absolute;
  margin-top: 264px;
  margin-left: 502px;
  //background: red;
  width: 325px;
  height: 200px;
}
#line-box-content-9{
  z-index: -1;
  position: absolute;
  margin-top: 230px;
  margin-left: 827px;
  //background: red;
  width: 50px;
  height: 115px;
}
#line-box-content-10{
  z-index: -1;
  position: absolute;
  margin-top: 280px;
  margin-left: 1202px;
  //background: red;
  width: 20px;
  height: 20px;
}
/*other*/
#conte-line-41{
  position: absolute;
  width: 3px;
  height: 100%;
}
#conte-line-42{
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 3px;

}
#conte-line-43{
  margin: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
}
#conte-line-44{
  margin: 0px;
  position: absolute;
  width: 3px;
  height: 100%;
}
#conte-line-45{
  margin: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
}
#conte-line-46{
  background: rgba(0,0,0,1);
  margin: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3px;
  height: 62%;
}
#conte-line-47{
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
}
#conte-line-48{
  margin: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
}
#conte-line-49{
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
}
#conte-line-50{
  margin: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
}
.bottons-content{
  position: fixed;
  bottom: 30px;
  left: 30px;
}
.content-ciclos-ejecution{
color: rgba(0,0,0,0.7);
  position: fixed;
  //background: red;
  bottom: 30px;
  right: 30px;
}
.content-ciclos-ejecution table{
  padding: 0px;
  border: 1px solid rgb(255,255,255);
}
.content-ciclos-ejecution table tr td{

  border: 1px solid rgb(255,255,255);
}
.content-ciclos-ejecution table table {
  border: 1px solid rgb(255,255,255);
  width: 100%;
}
.content-ciclos-ejecution table table tr td{
  border: 1px solid rgb(255,255,255);

}
.up-pop{
  background-color: #252424;
  font-size: 1.3em;
  visibility: hidden;
  position: absolute;
  //margin-top: -50px;
  margin-left: -30px;
  border-radius: 50%;
  width: 27px;
  padding: 5px;
  -webkit-transition: margin0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  -o-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}
